@import url('https://fonts.googleapis.com/css2?family=Capriola&family=League+Spartan:wght@100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Signika+Negative:wght@300..700&display=swap');


  :root{

  /*colors*/
  --blacky : #0c0c0c;
  --blue-clair:#4db9f9;
  --white-b:#f6fbff;
  --grey:#838383;
  --vio:#b1acff;
  /*fonts*/
  --font-family-1: 'capriola';
  --font-family-2: 'League Spartan';
  --font-family-3: 'Playfair Display SC';
  --font-family-4: 'Signika Negative';
  }
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr 10fr;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .navbar{
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    place-items: center;
    background-color: blueviolet;
    img{
      width: 60px;
      height: 60px;
    }
    a{
      color:white;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      font-family:var(--font-family-2);
      background-color: blueviolet;
      border-radius: 20px;
      width: 100px;
      height: 40px;
      place-items: center;
      padding: 10px;
    }
    #Rrv{
      background-color: pink;
      color: white;
    }
    button{
      width: 100px;
      height: 40px;
    }
    #logout{
      text-align: center;
      width: 30px;
      height: 30px;
    }
  }
  img{
    width: 20px;
    height: 20px;
  }
  table{
    display:table;
    margin-left: 20px;
    margin-right: 20px;
    width: 97%;
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px var(--grey);
    text-align: center;
  }
  table th {
    background-color: blueviolet; 
    color: white; 
    padding: 10px;
  }

  table td {
    background-color: white; 
    padding: 10px;
  }
  table td button{
    border: 0px;
    background-color: transparent;
    img{
      width: 20px;
      height: 20px;
      padding-left: 5px;
    }
  }
  h1{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: var(--font-family-3);
    margin-bottom: 30px;
  }
  .rien{
    display: none;
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 54%;
    background-color: blueviolet;
    width: 600px;
    height: 100px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    color: white;
  }
  
  
  