<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style/home.css"><!--(..) it's mean go to root-->
  <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicon.png">
  <title>Care Clinic</title>
</head>
<body>
  <a name="accu"></a>
  <div class="navigation">
    <img src="../public/images/care.jpg" alt="clinic logo">
    <div id="references">
      <a href="#accu">Accueil</a>
      <a href="#ser">Nos Services</a>
      <a href="#urg">Les Urgences</a>
      <a href="#con">Contactez Nous</a>
    </div>
    <div id="connecter">
      <button type="button" >Se connecter</button>
      <button type="button" onclick="window.location.href = 'register.html';">S'inscrire</button>
    </div>
  </div>
  <div class="presentation">
    <div id="presentationPA">
      <h1>Votre Destination Fiable Pour Une Santé de Qualité</h1>
      <p>Chez Care Clinic, notre mission est de vous offrir des soins de santé de qualité supérieure, accessibles et personnalisés pour répondre à vos besoins uniques. Bienvenue dans notre clinique dédiée à votre bien-être.</p>
      <button onclick="showDirections()">Trouver notre clinique</button>
      <img src="../public/images/up-arrow.png" alt="n">
      <div class="h4-container">
        <h4>100+ médecins</h4>
        <h4>10+ d'expérience</h4>
        <h4>24/7 service</h4>
      </div>
    </div>
    <div>
      <img src="../public/images/bienvenue-pic.png" alt="Bienvenue-pic">
    </div>
  </div>
  <a name="ser"></a>
  <div class="services">
    <div class="servicesPA">
      <h2>services</h2>
      <h3>Explorez Notre Gamme Complète De Services Médicaux</h3>
    </div>
    <div class="servicesINFO">
      <div id="Les_yeux">
        <img src="../public/images/eye.png" alt="eyepic">
        <h3>Soins ophtalmologiques avancés</h3>
        <p>Offrant une gamme complète de services ophtalmologiques, y compris des examens de la vue, des traitements pour les maladies oculaires et des interventions chirurgicales.</p>
      </div>

      <div id="Des_operations">
        <img src="../public/images/surgery-room.png" alt="surgerypic">
        <h3>Chirurgies spécialisées</h3>
        <p>Nos chirurgiens hautement qualifiés effectuent une variété d'opérations, allant des procédures oculaires aux interventions orthopédiques, en garantissant des soins de haute qualité et des résultats optimaux.</p>
      </div>

      <div id="Les_dents">
        <img src="../public/images/tooth.png" alt="teethpic">
        <h3>Dentisterie moderne</h3>
        <p>Des solutions dentaires complètes allant des nettoyages réguliers et des obturations aux implants dentaires et aux traitements de blanchiment, assurant des sourires sains et éclatants pour tous nos patients.</p>
      </div>

      <div id="Allergies">
        <img src="../public/images/allergies.png" alt="allergiespic">
        <h3>Traitement des allergies</h3>
        <p>Spécialisés dans le diagnostic et la gestion des allergies, notre équipe médicale propose des traitements personnalisés pour soulager les symptômes allergiques et améliorer la qualité de vie.</p>
      </div>

      <div id="Inspection_periodique">
        <img src="../public/images/clipboard.png" alt="inspectinpic">
        <h3>Examens préventifs réguliers</h3>
        <p>Nous recommandons vivement des examens de santé réguliers pour détecter les problèmes médicaux dès leur apparition, permettant une intervention précoce et des soins plus efficaces.</p>
      </div>

      <div id="Os_et_articulations">
        <img src="../public/images/bone-fracture.png" alt="bonepic">
        <h3>Soins orthopédiques complets</h3>
        <p>De la gestion des blessures sportives à la réhabilitation post-opératoire, nos spécialistes en orthopédie fournissent des soins complets pour les os et les articulations, visant à restaurer la mobilité et à minimiser la douleur.</p>
      </div>

      <div id="sang">
        <img src="../public/images/kidney.png" alt="kidneypic">
        <h3>Hémodialyse et filtrage sanguin</h3>
        <p>Avec des équipements de pointe et une équipe expérimentée, nous assurons des services de dialyse de haute qualité pour les patients atteints de maladies rénales, ainsi que des procédures de filtrage sanguin pour une santé optimale.</p>
      </div>

      <div id="cheveux">
        <img src="../public/images/skin.png" alt="skinpic">
        <h3>Implantation de cheveux</h3>
        <p>Retrouvez une chevelure naturelle et pleine de vitalité grâce à notre service d'implantation de cheveux. Notre équipe expérimentée utilise des techniques de pointe pour restaurer la densité capillaire et vous offrir une apparence confiante et rajeunie.</p>
      </div>

      <div id="vac">
        <img src="../public/images/injection.png" alt="injectionpic">
        <h3>Vaccination</h3>
        <p>Nous proposons une gamme complète de vaccins recommandés par les autorités de santé pour toutes les tranches d'âge, garantissant une immunité renforcée et une santé optimale pour chacun de nos patients.</p>
      </div>
    </div>
  </div>
  <div class="medecinsS">
    <div class="medecinsINFO">
      <h2>pouruoi nous</h2>
      <h3>Rencontrez Notre Eminent Médecin Expert</h3>
    </div>
    <div class="medecins">
      <div id="doc1">
        <img id="picdoc1" src="../public/images/doc2.jpg" alt="Dr. Sarah Bennett pic" width="202px">
        <div>
          <h3>Dr. Sarah Bennett</h3>
          <h4>Chirurgienne orthopédique</h4>
          <a href="https://www.instagram.com/pnlmusic/"><img src="../public/images/instagram.png" alt="instapic"></a>
          <a href="https://www.facebook.com/Pnlmusic"><img src="../public/images/facebook.png" alt="facepic"></a>
          <a href="https://twitter.com/PNLMusic"><img src="../public/images/twitter.png" alt="Xpic"></a>
        </div>
      </div>
      <div id="doc2">
        <img id="picdoc2" src="../public/images/doc1.jpg" alt="Dr. Michael Chang pic" width="202px">
        <div>
        <h3>Dr. Michael Chang</h3>
          <h4>Professeur de médecine</h4>
          <a href="https://www.instagram.com/riyadmahrez26.7/"><img src="../public/images/instagram.png" alt="instapic"></a>
          <a href="https://www.facebook.com/Riyad.Mahrez.RM26.7"><img src="../public/images/facebook.png" alt="facepic"></a>
          <a href="https://twitter.com/Mahrez22"><img src="../public/images/twitter.png" alt="Xpic"></a>
        </div>
      </div>
      <div id="doc3">
        <img id="picdoc3" src="../public/images/doc3.jpg" alt="Dr. David Rodriguez pic" width="202px">
        <div>
          <h3>Dr. David Rodriguez</h3>
          <h4>Nutritionniste</h4>
          <a href="https://www.instagram.com/neymarjr/"><img src="../public/images/instagram.png" alt="instapic"></a>
          <a href="https://www.facebook.com/neymarjr"><img src="../public/images/facebook.png" alt="facepic"></a>
          <a href="https://twitter.com/neymarjr"><img src="../public/images/twitter.png" alt="Xpic"></a>
        </div>
      </div>
    </div>
  </div>
  <a name="urg"></a>
  <div class="emergency">
    <div>
      <h2>urgence</h2>
    </div>
      <div class="urgenceINFO">
        <div>
        </div>
        <div class="urgenceINFO">
          <img src="../public/images/urgentBG.jpg" alt="urgencepic">
          <div class="urgencePA">
            <h3>Pourrions-nous vous assister avec des services d'urgence?</h3>
            <p>En cas d'urgence médicale, votre sécurité est notre priorité absolue. Notre équipe dédiée est prête à intervenir rapidement avec nos services d'ambulance disponibles 24 heures sur 24. Ne prenez aucun risque avec votre santé, faites appel à notre service d'urgence dès maintenant pour une assistance immédiate.</p>
            <button>Pour Les Services D'urgence</button>
          </div>
        </div>
      
    </div>
  </div>
  <div class="footer">
    <div class="signal">
      <img src="../public/images/care.jpg" alt="clinic logo">
      <p>Si vous rencontrez un problème, n'hésitez pas à nous le signaler. Votre retour est précieux pour nous aider à améliorer votre expérience sur notre site.</p>
      <button>signaler</button>
    </div>
    <div class="footerINFO">
      <div class="explorer">
        <h3>Explorez</h3>
        <a href="#accu">Accueil</a>
        <a href="#ser">Nos Services</a>
        <a href="#urg">Les Urgences</a>
        <a href="#con">Contactez Nous</a>
      </div>
      <div class="contact">
        <h3>Contactez Nous</h3>
        <h4>d'Arístides Maillol, 12, Les Corts, 08028 Barcelona, Espagne</h4>
        <img src="../public/images/phone-call.png" alt="phone number">
        <a href="tel:+123-456-789">123-456-789</a>
        <br>
        <img src="../public/images/arroba.png" alt="Email">
        <a href="mailto:careclinic@gmail.com">careclinic@gmail.com</a>
      </div>
    </div>
  </div>
  <a name="con"></a>

</body>
<script>
    function showDirections() {
        // Remplacer 'Votre Adresse' par l'adresse de votre clinique
        var destination = "C/ d'Arístides Maillol, 12, Les Corts, 08028 Barcelona, Espagne";
        var url = 'https://www.google.com/maps/dir//' + encodeURIComponent(destination);
        window.open(url, '_blank');
    }
</script>

</html>