<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style/login.css">
  <title>Connecter</title>
</head>
<body>
  <div class="container">
    <div>
      <img src="../public/images/loginpic.jpeg" alt="login photo">
    </div>
    <div class="loginINFO">
      <div>
          <h2>Connectez-vous</h2>
      </div>
      <div>
        <label for="mail">Adresse email :</label>
        <input type="email" id="mail" name="email" required placeholder="Email">
      </div>
      <div>
        <label for="psw">Mot de passe :</label>
        <input type="password" id="psw" name="password" required placeholder="Mot de Passe">
        <a id="mdpO" href="mailto:anis.lkrd@gmail.com">Mot de passe oblier ?</a>
      </div>
      <div class="reg">
        <a href="admindashboard.html"><button id="connect" type="submit">Se connecter</button></a>
      </div>
      <div>
        <h3>Vous n'avez pas de compte? <a href="register.html">Sign Up</a></h3>
      </div>
      <div></div>
    </div>
  </div>
</body>
</html>